#upper-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#menu-buttons p {
    display: inline;
}

#objects {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
}

#objects input[type="number"] {
    width: 50px;
}

#objects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

#objects li {
    display: inline;
    padding: 5px;
}

div[id^="object_template"] {
    border: 1px solid black;
    padding: 20px;
    text-align: left;
    width: 210px;
    height: 450px;
}

#objects div:last-child {
    margin-bottom: 25px;
}

#tracker-objects {
    width: 100%;
    text-align: center;
}

#add_object {
    font-size: 80px;
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-align: center;
}

/* #save_button {
    display: none;
} */